<?xml version="1.0"?>
<robot name="go2w_foxglove">

  <!-- ================= BASE ================= -->
  <link name="base_link">
    <visual>
      <geometry>
        <mesh filename="https://raw.githubusercontent.com/b-dosymzhan/unitree_ros/master/robots/go2w_description/dae/base.dae"/>
      </geometry>
    </visual>
  </link>

  <link name="base_footprint"/>
  <joint name="base_footprint_joint" type="fixed">
    <parent link="base_link"/>
    <child link="base_footprint"/>
    <origin xyz="0 0 -0.05"/>
  </joint>

  <!-- ================= FRONT LEFT ================= -->
  <link name="FL_hip">
    <visual>
      <geometry>
        <mesh filename="https://raw.githubusercontent.com/b-dosymzhan/unitree_ros/master/robots/go2w_description/dae/hip.dae"/>
      </geometry>
    </visual>
  </link>

  <joint name="FL_hip_joint" type="fixed">
    <parent link="base_link"/>
    <child link="FL_hip"/>
    <origin xyz="0.1934 0.0465 0"/>
  </joint>

  <link name="FL_thigh">
    <visual>
      <geometry>
        <mesh filename="https://raw.githubusercontent.com/b-dosymzhan/unitree_ros/master/robots/go2w_description/dae/thigh.dae"/>
      </geometry>
    </visual>
  </link>

  <joint name="FL_thigh_joint" type="fixed">
    <parent link="FL_hip"/>
    <child link="FL_thigh"/>
    <origin xyz="0 0 -0.0955"/>
  </joint>

  <link name="FL_calf">
    <visual>
      <geometry>
        <mesh filename="https://raw.githubusercontent.com/b-dosymzhan/unitree_ros/master/robots/go2w_description/dae/calf.stl"/>
      </geometry>
    </visual>
  </link>

  <joint name="FL_calf_joint" type="fixed">
    <parent link="FL_thigh"/>
    <child link="FL_calf"/>
    <origin xyz="0 0 -0.213"/>
  </joint>

  <link name="FL_foot">
    <visual>
      <geometry>
        <mesh filename="https://raw.githubusercontent.com/b-dosymzhan/unitree_ros/master/robots/go2w_description/dae/left_wheel.dae"/>
      </geometry>
    </visual>
  </link>

  <joint name="FL_foot_joint" type="fixed">
    <parent link="FL_calf"/>
    <child link="FL_foot"/>
    <origin xyz="0 0 -0.2264" rpy="0 1.5708 1.5708"/>
  </joint>

  <!-- ================= FRONT RIGHT ================= -->
  <link name="FR_hip">
    <visual>
      <geometry>
        <mesh filename="https://raw.githubusercontent.com/b-dosymzhan/unitree_ros/master/robots/go2w_description/dae/hip.dae"/>
      </geometry>
    </visual>
  </link>

  <joint name="FR_hip_joint" type="fixed">
    <parent link="base_link"/>
    <child link="FR_hip"/>
    <origin xyz="0.1934 -0.0465 0"/>
  </joint>

  <link name="FR_thigh">
    <visual>
      <geometry>
        <mesh filename="https://raw.githubusercontent.com/b-dosymzhan/unitree_ros/master/robots/go2w_description/dae/thigh_mirror.dae"/>
      </geometry>
    </visual>
  </link>

  <joint name="FR_thigh_joint" type="fixed">
    <parent link="FR_hip"/>
    <child link="FR_thigh"/>
    <origin xyz="0 0 -0.0955"/>
  </joint>

  <link name="FR_calf">
    <visual>
      <geometry>
        <mesh filename="https://raw.githubusercontent.com/b-dosymzhan/unitree_ros/master/robots/go2w_description/dae/calf_mirror.stl"/>
      </geometry>
    </visual>
  </link>

  <joint name="FR_calf_joint" type="fixed">
    <parent link="FR_thigh"/>
    <child link="FR_calf"/>
    <origin xyz="0 0 -0.213"/>
  </joint>

  <link name="FR_foot">
    <visual>
      <geometry>
        <mesh filename="https://raw.githubusercontent.com/b-dosymzhan/unitree_ros/master/robots/go2w_description/dae/right_wheel.dae"/>
      </geometry>
    </visual>
  </link>

  <joint name="FR_foot_joint" type="fixed">
    <parent link="FR_calf"/>
    <child link="FR_foot"/>
    <origin xyz="0 0 -0.2264" rpy="0 1.5708 1.5708"/>
  </joint>

  <!-- ================= REAR LEFT ================= -->
  <link name="RL_hip">
    <visual>
      <geometry>
        <mesh filename="https://raw.githubusercontent.com/b-dosymzhan/unitree_ros/master/robots/go2w_description/dae/hip.dae"/>
      </geometry>
    </visual>
  </link>

  <joint name="RL_hip_joint" type="fixed">
    <parent link="base_link"/>
    <child link="RL_hip"/>
    <origin xyz="-0.1934 0.0465 0"/>
  </joint>

  <link name="RL_thigh">
    <visual>
      <geometry>
        <mesh filename="https://raw.githubusercontent.com/b-dosymzhan/unitree_ros/master/robots/go2w_description/dae/thigh.dae"/>
      </geometry>
    </visual>
  </link>

  <joint name="RL_thigh_joint" type="fixed">
    <parent link="RL_hip"/>
    <child link="RL_thigh"/>
    <origin xyz="0 0 -0.0955"/>
  </joint>

  <link name="RL_calf">
    <visual>
      <geometry>
        <mesh filename="https://raw.githubusercontent.com/b-dosymzhan/unitree_ros/master/robots/go2w_description/dae/calf.stl"/>
      </geometry>
    </visual>
  </link>

  <joint name="RL_calf_joint" type="fixed">
    <parent link="RL_thigh"/>
    <child link="RL_calf"/>
    <origin xyz="0 0 -0.213"/>
  </joint>

  <link name="RL_foot">
    <visual>
      <geometry>
        <mesh filename="https://raw.githubusercontent.com/b-dosymzhan/unitree_ros/master/robots/go2w_description/dae/left_wheel.dae"/>
      </geometry>
    </visual>
  </link>

  <joint name="RL_foot_joint" type="fixed">
    <parent link="RL_calf"/>
    <child link="RL_foot"/>
    <origin xyz="0 0 -0.2264" rpy="0 1.5708 1.5708"/>
  </joint>

  <!-- ================= REAR RIGHT ================= -->
  <link name="RR_hip">
    <visual>
      <geometry>
        <mesh filename="https://raw.githubusercontent.com/b-dosymzhan/unitree_ros/master/robots/go2w_description/dae/hip.dae"/>
      </geometry>
    </visual>
  </link>

  <joint name="RR_hip_joint" type="fixed">
    <parent link="base_link"/>
    <child link="RR_hip"/>
    <origin xyz="-0.1934 -0.0465 0"/>
  </joint>

  <link name="RR_thigh">
    <visual>
      <geometry>
        <mesh filename="https://raw.githubusercontent.com/b-dosymzhan/unitree_ros/master/robots/go2w_description/dae/thigh_mirror.dae"/>
      </geometry>
    </visual>
  </link>

  <joint name="RR_thigh_joint" type="fixed">
    <parent link="RR_hip"/>
    <child link="RR_thigh"/>
    <origin xyz="0 0 -0.0955"/>
  </joint>

  <link name="RR_calf">
    <visual>
      <geometry>
        <mesh filename="https://raw.githubusercontent.com/b-dosymzhan/unitree_ros/master/robots/go2w_description/dae/calf_mirror.stl"/>
      </geometry>
    </visual>
  </link>

  <joint name="RR_calf_joint" type="fixed">
    <parent link="RR_thigh"/>
    <child link="RR_calf"/>
    <origin xyz="0 0 -0.213"/>
  </joint>

  <link name="RR_foot">
    <visual>
      <geometry>
        <mesh filename="https://raw.githubusercontent.com/b-dosymzhan/unitree_ros/master/robots/go2w_description/dae/right_wheel.dae"/>
      </geometry>
    </visual>
  </link>

  <joint name="RR_foot_joint" type="fixed">
    <parent link="RR_calf"/>
    <child link="RR_foot"/>
    <origin xyz="0 0 -0.2264" rpy="0 1.5708 1.5708"/>
  </joint>

</robot>
